/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/

/*typography*/

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	margin: 15px 10px 0px 10px;
	color: #B10000;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	color: #B10000;
	float:right;
	margin: 20px;
}

h3{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	font-style: italic;
	color: #383838;
	margin: 15px 10px 0px 10px;
}

h5{
	font-family: 'Open Sans Condensed';
	color: silver;
	margin: 0px 5px 5px 10px;
}

p{
	font-family: 'Open Sans Condensed';
	color: #383838;
	margin: 15px 5px 5px 10px;
}

a{
	font-family: 'Open Sans Condensed';
	font-style: italic;
	color: #B10000;
	font-size: 1.5em;
	margin: 10px;
}
/*image*/
img{
	width: 300px;
	margin: 25px;

}


/*colors*/
.color-1,
.color-2,
.color-4{
	border: 2px solid #000;
	height:50px;
	float: left;
	margin: 10px;
	width: 50px;
}

.color-1{
	background: #B10000;
}

.color-2{
	background: #383838;
}

.color-4{
	background: #F7F7F7;
}

/*texture*/
.tex-1,
.tex-2,
.tex-3{
	border: 2px solid #000;
	height:112px;
	float: left;
	margin: 10px;
	width: 100px;
}

.tex-1{
	background: url("../img/dark_wall.png");
}

.tex-2{
	background: url("../img/cartographer.png");
}

.tex-3{
	background: url("../img/images.jpeg");
}

/*body*/


body{
	background: url("../img/cartographer.png");
}

header{
	background: #F7F7F7;
}

article section{
	background: #F7F7F7;
	float: left;
}

hr{
	padding: 1px;
	background-color: #383838;
}

footer{
	background: #F7F7F7;
	text-align: center;
	padding: 10px 0px 10px 0px;
}


/*hover*/
a:link,
a:visited {
	color: #B10000;
	font-size: 1.5em;
	text-decoration: none;
	padding: 30px;
}


/*show grid*/
.showgrid{
	background: url("../img/grid-bg.png") repeat-y
}

/* Diagnostic Styling */
s